In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../dataframe/poker_dataframe.csv")
filtered_df = df[df['SB cards'].notna()]

In [3]:
filtered_df=filtered_df.reset_index(drop=True)
filtered_df

,Game ID,File,Player SB,Player BB,Preflop actions,Flop actions,Turn actions,River actions,Flop,Turn,River,SB stack,BB stack,SB cards,BB cards,Folded pre
0,603604223,Asmara-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,ArcticWin,Ceaban,"[('c', '0.01'), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('b', '0.04'), ('c', '0.04')]","['5c', '9c', '5s']",7h,2c,2.00,1.00,"[ Qh, Tc ]","[ 6h, 2h ]",False
1,603607691,Asmara-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,grandiozzo,MARUSYA94,"[('c', '0.01'), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","['9d', '4d', '9s']",Kh,6h,1.20,0.80,"[ 5c, 4c ]","[ 3h, 7s ]",False
2,603607964,Asmara-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,grandiozzo,gunchozaurs,"[('c', '0.01'), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","['Qs', '8s', '5s']",4s,4c,2.63,2.01,"[ Kh, 9c ]","[ 2c, Jh ]",False
3,603607982,Asmara-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,gunchozaurs,grandiozzo,"[('r', '0.03'), ('c', '0.02')]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('b', '0.02'), ('c', '0.02')]","['6s', '7s', '5h']",7c,2d,2.65,2.00,"[ 5c, Ad ]","[ 6h, 9h ]",False
4,502906150,Bayamo-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,JillybeanG,Dbloy,"[('r', '0.03'), ('r', '0.10'), ('r', '0.16'), ...",NaN,NaN,NaN,"['7d', '4h', '7s']",Qc,6c,1.81,0.52,"[ Jh, Kh ]","[ Qh, Qd ]",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86063,553224321,Corrientes-0.01-0.02-USD-NoLimitHoldem-Pacific...,silviu2010,Sensei.Dbb,"[('c', '0.01'), ('k', 0)]","[('b', '0.02'), ('c', '0.02')]","[('b', '0.02'), ('c', '0.02')]","[('b', '0.06'), ('c', '0.06')]","['6c', 'Jc', '3d']",2h,9c,0.96,0.89,"[ 5d, Jh ]","[ Ad, As ]",False
86064,553224342,Corrientes-0.01-0.02-USD-NoLimitHoldem-Pacific...,Sensei.Dbb,roghnov,"[('c', '0.01'), ('r', '0.02'), ('c', '0.02')]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","['7s', 'Jd', '5h']",8c,Js,1.00,1.00,"[ 9s, Qd ]","[ 6c, Ac ]",False
86065,553224357,Corrientes-0.01-0.02-USD-NoLimitHoldem-Pacific...,roghnov,Sensei.Dbb,"[('c', '0.01'), ('k', 0)]","[('k', 0), ('b', '0.02'), ('c', '0.02')]","[('k', 0), ('b', '0.02'), ('c', '0.02')]","[('k', 0), ('k', 0)]","['Jd', 'As', 'Qd']",Js,Ts,1.04,0.96,"[ 9s, Ad ]","[ Qh, 7s ]",False
86066,553224367,Corrientes-0.01-0.02-USD-NoLimitHoldem-Pacific...,Sensei.Dbb,roghnov,"[('c', '0.01'), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","['4d', '2d', 'Js']",Jd,Ts,1.10,0.90,"[ Qc, Kc ]","[ 9s, Ks ]",False
86067,553224834,Corrientes-0.01-0.02-USD-NoLimitHoldem-Pacific...,John_Efapi,mikvell,"[('r', '0.05'), ('c', '0.04')]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","['9d', 'Qc', '5d']",7d,Ac,3.42,1.84,"[ 3d, 3s ]","[ 4h, Ah ]",False

In [4]:
def suited_hole_cards(cards):
    """
    This function returns true if hole cards are suited
    """
    if len(cards)!=10:
        raise ValueError("String must contain 10 characters!")
        
    return cards[3]==cards[7]

In [5]:
def hole_cards_3_letter_style(cards):
    """
    This function takes the hole cards and translates them to the 3 letter style.
    The output is ordered to show the highest card first
    
    Ex: [ Qh, Tc ]-> QTo because the suits are different
    """
    if len(cards)!=10:
        raise ValueError("String must contain 10 characters!")   
        
    rank_values = {'A': 14, 'K': 13, 'Q': 12, 'J': 11, 'T': 10, '9': 9, '8': 8, '7': 7, '6': 6, '5': 5, '4': 4, '3': 3, '2': 2}
    
    sorted_cards = sorted([cards[2],cards[6]], key=lambda x: rank_values.get(x[0], 0), reverse=True)
    
    if suited_hole_cards(cards):
        return sorted_cards[0] + sorted_cards[1] + 's'
    else:
        return sorted_cards[0] + sorted_cards[1] + 'o'

In [6]:
filtered_df['SB cards 3style'] = filtered_df['SB cards'].apply(hole_cards_3_letter_style)
filtered_df['BB cards 3style'] = filtered_df['BB cards'].apply(hole_cards_3_letter_style)

# Show the DataFrame with the new column
filtered_df.head()  # .head() just shows the first few rows

,Game ID,File,Player SB,Player BB,Preflop actions,Flop actions,Turn actions,River actions,Flop,Turn,River,SB stack,BB stack,SB cards,BB cards,Folded pre,SB cards 3style,BB cards 3style
0,603604223,Asmara-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,ArcticWin,Ceaban,"[('c', '0.01'), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('b', '0.04'), ('c', '0.04')]","['5c', '9c', '5s']",7h,2c,2.00,1.00,"[ Qh, Tc ]","[ 6h, 2h ]",False,QTo,62s
1,603607691,Asmara-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,grandiozzo,MARUSYA94,"[('c', '0.01'), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","['9d', '4d', '9s']",Kh,6h,1.20,0.80,"[ 5c, 4c ]","[ 3h, 7s ]",False,54s,73o
2,603607964,Asmara-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,grandiozzo,gunchozaurs,"[('c', '0.01'), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","['Qs', '8s', '5s']",4s,4c,2.63,2.01,"[ Kh, 9c ]","[ 2c, Jh ]",False,K9o,J2o
3,603607982,Asmara-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,gunchozaurs,grandiozzo,"[('r', '0.03'), ('c', '0.02')]","[('k', 0), ('k', 0)]","[('k', 0), ('k', 0)]","[('b', '0.02'), ('c', '0.02')]","['6s', '7s', '5h']",7c,2d,2.65,2.00,"[ 5c, Ad ]","[ 6h, 9h ]",False,A5o,96s
4,502906150,Bayamo-0.01-0.02-USD-NoLimitHoldem-Pacific-6-4...,JillybeanG,Dbloy,"[('r', '0.03'), ('r', '0.10'), ('r', '0.16'), ...",NaN,NaN,NaN,"['7d', '4h', '7s']",Qc,6c,1.81,0.52,"[ Jh, Kh ]","[ Qh, Qd ]",False,KJs,QQo

In [ ]:
import pandas as pd

# Sample data: a list of lists with tuples for cell name and value
# Replace this with your actual data
sample_data = [[(f'Name{i}{j}', i*j) for j in range(1, 14)] for i in range(1, 14)]

# Create a pandas DataFrame
df = pd.DataFrame(sample_data)

# Function to display the DataFrame in a 13x13 format with cell names and values
def display_table(data_frame):
    # Creating a displayable table with both name and value
    display_data = pd.DataFrame(index=data_frame.index, columns=data_frame.columns)

    for row in data_frame.iterrows():
        row_index = row[0]
        for col_index in range(len(row[1])):
            cell = row[1][col_index]
            display_data.iloc[row_index, col_index] = f"{cell[0]}: {cell[1]}"

    return display_data

# Display the table
display_table(df)

In [ ]:
filtered_df.to_csv('preflop_df.csv', index=False)  # Set index=False to exclude the index column

In [17]:
# Use value_counts() to count unique values in the 'Category' column
value_counts = filtered_df['BB cards 3style'].value_counts()

# Display the counts
print(value_counts)

BB cards 3style
JTo    1008
A8o    1003
KJo     977
QJo     975
ATo     973
A7o     969
A9o     967
AQo     966
QTo     961
A5o     960
KQo     940
T9o     919
KTo     918
AJo     906
AKo     902
K9o     892
A6o     891
K8o     890
A2o     886
Q9o     884
98o     875
A3o     873
A4o     873
K7o     822
87o     818
J9o     818
76o     815
J8o     795
Q8o     786
T8o     779
J7o     775
K6o     766
Q7o     765
97o     764
Q5o     740
Q6o     739
65o     733
K5o     705
86o     690
T7o     687
K4o     683
K2o     681
K3o     668
54o     668
75o     659
Q4o     658
85o     656
96o     643
J6o     642
T6o     642
43o     636
J4o     625
84o     617
64o     615
74o     614
94o     611
J5o     605
53o     602
Q2o     599
T5o     596
J3o     587
Q3o     584
J2o     583
T4o     580
63o     577
62o     572
42o     568
77o     568
T2o     566
83o     564
92o     562
52o     560
95o     559
T3o     550
73o     545
55o     536
44o     530
88o     525
32o     524
22o     523
93o     523
66o     511
33o     504
KKo     495
82o     482
TTo     482
72o     481
99o     479
QQo     478
JJo     473
AAo     440
A4s     350
A6s     345
K8s     344
97s     335
A2s     333
65s     332
QJs     331
K9s     328
T9s     328
A3s     326
Q4s     325
AQs     324
J9s     324
A8s     323
QTs     322
K3s     321
86s     321
A7s     321
Q8s     320
KQs     319
A9s     317
KTs     315
JTs     311
AKs     311
AJs     310
J8s     309
98s     307
76s     306
KJs     305
K4s     302
A5s     302
K2s     301
Q9s     300
87s     300
96s     297
ATs     296
K5s     295
T7s     293
95s     292
K6s     292
Q5s     290
54s     287
64s     286
Q3s     285
75s     284
K7s     284
74s     283
Q7s     281
Q6s     280
43s     279
T8s     278
85s     278
J6s     271
J7s     270
32s     268
J4s     267
53s     266
63s     263
J2s     262
T6s     261
Q2s     261
42s     261
T5s     256
73s     251
93s     250
T3s     246
T4s     246
J3s     243
83s     239
J5s     234
52s     234
92s     232
82s     228
84s     228
T2s     228
94s     223
72s     217
62s     195
hho       3
 0o       1
Name: count, dtype: int64

In [ ]:
pd.set_option('display.max_rows', None)

filtered_df.head(100)

In [15]:
# Assuming df is your DataFrame
filtered_rows = filtered_df[filtered_df['BB cards 3style'] == 'hho']

# Print all rows where 'SB cards 3style' is 'hho'
print(filtered_rows)

         Game ID                                               File Player SB  \
48034  515261185  Harare-0.01-0.02-USD-NoLimitHoldem-Pacific-11-...  NMelisa
48036  515261281  Harare-0.01-0.02-USD-NoLimitHoldem-Pacific-11-...  NMelisa
48038  515261394  Harare-0.01-0.02-USD-NoLimitHoldem-Pacific-11-...  NMelisa

         Player BB            Preflop actions               Flop actions  \
48034  chrishowse                  [('f', 0)]                        NaN
48036  chrishowse   [('c', '0.01'), ('k', 0)]  [('b', '0.04'), ('f', 0)]
48038  chrishowse                  [('f', 0)]                        NaN

      Turn actions River actions                Flop Turn River  SB stack  \
48034          NaN           NaN                 NaN  NaN   NaN      1.87
48036          NaN           NaN  ['Kh', '3c', 'Jc']  NaN   NaN      1.90
48038          NaN           NaN                 NaN  NaN   NaN      1.68

       BB stack    SB cards    BB cards  Folded pre SB cards 3style  \
48034      0.58   [ $0.03 ]  w his hand        True              0o
48036      0.55   [ $0.04 ]  w his hand       False              0o
48038      0.75   [ $0.03 ]  w his hand        True              0o

      BB cards 3style
48034             hho
48036             hho
48038             hho

In [11]:
desired_index = 48035    # Replace with the index of the row you want to print
row_to_print = filtered_df.loc[desired_index]

# Print the row with the specified index
print(row_to_print[1])

Harare-0.01-0.02-USD-NoLimitHoldem-Pacific-11-5-2018.txt

/tmp/ipykernel_92/3119162547.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(row_to_print[1])

In [ ]:
bugged rows:
    48034, 48035, 48036, 48038

In [16]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)